In [ ]:
Answer 1:- s = "Prachi"
print(s)

Prachi

In [ ]:
Answer 2:- s1 = "Hello World"
print(len(s1))

11

In [ ]:
Answer 3:- s = "Python, Programming!"

# Slice string from index 0 to index 5 (exclusive)
s2 = s[0:3]

print(s2)

Pyt

In [ ]:
Answer 4:- str1 = 'Hello!'
print(str1. upper())

HELLO!

In [ ]:
Answer 5:- s = "I like apple!"

# Replace "apple" with "orange"
s1 = s.replace("apple", "orange")

print(s1)

 I like orange!

In [ ]:
Answer 6:-# create an empty list to store the numbers
numbers = []

# read 5 numbers from the user
for i in range(5):
    num = int(input("Enter a number: "))
    numbers.append(num)

# print the numbers in reverse order
print("The numbers in reverse order are:")
for num in reversed(numbers):
    print(num)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
The numbers in reverse order are:
5
4
3
2
1

In [ ]:
Answer 7:-input = [1, 2, 3, 4]
key = 10

result = []
for ele in input:
    result.append(ele)
    result.append(key)

print(result)

[1, 10, 2, 10, 3, 10, 4, 10]

In [ ]:
answer 8:- numbers = [1, 2, 3, 4, 5]

# Elements to remove
to_remove = [3]

# Removing elements
for item in to_remove:
    if item in numbers:
        numbers.remove(item)

# Output the modified list
print(numbers)

[1, 2, 4, 5]

In [ ]:
Answer 9:- # initializing list
test_list = ["a", "b", "c" , "d"]

# printing original list
print("The original list is : " + str(test_list))

# using list indexing
# to get second element of list
res = [test_list[1]]

# printing result
print("The second element of list are : " + str(res))

The original list is : ['a', 'b', 'c', 'd']
The second element of list are : ['b']

In [ ]:
Answer 10:- a = [10, 20, 30, 40, 50]

# Reverse the list in-place
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [ ]:
answer 11:-# Note : In case of list, we use square
# brackets []. Here we use round brackets ()
t = (10, 20, 30)

print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [ ]:
answer 12:- # initializing list
test_list = ["apple", "banana", "cherry"]

# printing original list
print("The original list is : " + str(test_list))

# using list indexing
# to get first element of list
res = [test_list[0]]

# printing result
print("The first element of list are : " + str(res))

The original list is : ['apple', 'banana', 'cherry']
The first element of list are : ['apple']

In [ ]:
answer 13:- # Program to count the number of times an element
# Present in the list


def countX(tup, x):
    count = 0
    for ele in tup:
        if (ele == x):
            count = count + 1
    return count


# Driver Code
tup = (1, 2, 3, 2, 4 , 2)
enq = 2


print(countX(tup, enq))

3

In [ ]:
answer 14:- my_tuple = ( "dog", "cat", "rabbit")
print(my_tuple.index("cat"))

1

In [ ]:
answer 15:- # Python3 code to demonstrate working of
# Check if element is present in tuple
# using loop

# initialize tuple
test_tup = ("apple", "orange", "banana")

# printing original tuple
print("The original tuple : " + str(test_tup))

# initialize N
N = 3

# Check if element is present in tuple
# using loop
res = True
for ele in test_tup:
    if N == ele:
        res = True
        break

# printing result
print("Does tuple contain required value ? : " + str(res))

The original tuple : ('apple', 'orange', 'banana')
Does tuple contain required value ? : True

In [ ]:
answer 16:- # Creating a Set with a List of Numbers
# (Having duplicate values)
set1 = set([1, 2, 3,  4, 5])
print("\nSet with the use of Numbers: ")
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5}

In [ ]:
answer 17:- a = [1, 2, 3, 4]
a.extend([6])

print(a)

[1, 2, 3, 4, 6]

In [ ]:
answer 18:- # Creating a Set with a List of Numbers
# (Having duplicate values)
set1 = set([10, 20, 30])
print("\nSet with the use of Numbers: ")
print(set1)

Set with the use of Numbers:
{10, 20, 30}

In [ ]:
answer 19:- # initializing list
test_list = ["apple", "banana", "cherry"]

# printing original list
print("The original list is : " + str(test_list))

# using list indexing
# to get first element of list
res = [test_list[0]]

# printing result
print("The first element of list are : " + str(res))

The original list is : ['apple', 'banana', 'cherry']
The first element of list are : ['apple']

In [ ]:
 Answer 20:- # Program to count the number of times an element
# Present in the list


def countX(tup, x):
    count = 0
    for ele in tup:
        if (ele == x):
            count = count + 1
    return count


# Driver Code
tup = (1, 2, 3, 2, 4 , 2)
enq = 2

In [ ]:
Answer 21:- my_tuple = ( "dog", "cat", "rabbit")
print(my_tuple.index("cat"))

1

In [ ]:
answer 22:- # initializing list
test_list = ["apple", "banana", "cherry"]

# printing original list
print("The original list is : " + str(test_list))

# using list indexing
# to get first element of list
res = [test_list[0]]

# printing result
print("The first element of list are : " + str(res))

The original list is : ['apple', 'banana', 'cherry']
The first element of list are : ['apple']

In [ ]:
Answer 23:- # Creating a Set with a List of Numbers
# (Having duplicate values)
set1 = set([1, 2, 3,  4, 5])
print("\nSet with the use of Numbers: ")
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5}

In [ ]:
a = [1, 2, 3, 4]
a.extend([6])

print(a)Answer 24:-

[1, 2, 3, 4, 6]